@import "../.././theme/HCTheme.scss";

.content {
    display: flex;
    padding: 23px;
    padding-top: 0;
    svg {
        fill: $warning;
        font-size: 55px;
        margin-right: 12px;
    }
    div {
        padding-top: 7px;
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        margin: 0 5px;
    }
}